
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-color: #0D0D1B;
  font-family: 'Inter', sans-serif;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-box {
  width: 100%;
  max-width: 350px;
  text-align: center;
  padding: 20px;
}

.auth-container {
  width: 450px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  font-family: 'Inter', sans-serif;
}

.switch-text {
  color: #cccccc;
  font-size: 14px;
  margin-bottom: 30px;
}

.switch-text span, 
.link {
  color: #4D81E7;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  margin-left: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  
  background-color: #161626 !important;
  border: 1px solid #2E2E3A;
  color: white;
  
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  outline: none;
}

input:focus {
  border-color: #4D81E7;
}

button, 
.auth-btn {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  
  background-color: #1D61E7 !important;
  color: white;
  
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  margin-top: 10px;
}

button:hover, 
.auth-btn:hover {
  background-color: #1545b3 !important;
}