.screen-container {
  width: 100vw;
  background: #0D0D1B;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.screen-box {
  text-align: center;
  color: white;
}

h2 {
  margin-bottom: 20px;
}

.input {
  width: 350px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

.car-card {
  width: 350px;
  height: 80px;
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  text-align: left;
  margin: 10px auto;
  color: black;
}

.btn-row {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.screen-box .yellow-btn {
  background-color: #FEDD66 !important;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  color: black;
}

.screen-box .yellow-btn:hover {
  background-color: #eac55c !important;
}

.input-all {
  display: flex;
  width: 350px;
  height: 400px;
  flex-direction: column;
}

.cars-list::-webkit-scrollbar {
  display: none;
}

.cars-list {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}