* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  --color-dark: #0D0D1B;
  --color-blue: #4D81E7;
  --color-input-bg: #161626;
  --color-text-gray: #cccccc;
  
  --font-family-title: "Inter", sans-serif;
}

